.truncable {
  position: relative;

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__tooltip {
    position: absolute;
    top: -100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 0.4em;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  &:hover,
  &:focus-within {
    .truncable__text[tabindex='0'] {
      + .truncable__tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
