.truncable {
  position: relative;

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__tooltip {
    visibility: hidden;
    opacity: 0;
  }

  &:hover,
  &:focus-within {
    // show the tooltip on hover/focus only if tabindex was set to 0 by useAutoOverflow hook due to an overflow:
    .truncable__text[tabindex='0'] {
      + .truncable__tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
