@use 'sass:color' as color;

.dialog {
  padding: 0;
  width: min(480px, 95vw);
  border: none;
  border-radius: 6px;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);

  &::backdrop {
    background-color: color.scale(#000, $alpha: -70%);
  }
}
