$sidebar-transition: 0.5s ease-out;
$hamburger-bar-width: 2px;
$hamburger-bar-gap: 8px;
$hamburger-bar-position: $hamburger-bar-width + $hamburger-bar-gap;

.toggle-sidebar {
  &__button,
  &__hamburger,
  &__hamburger::before,
  &__hamburger::after {
    transition: $sidebar-transition;
  }

  &__button {
    position: absolute;
    top: 2em;
    right: 2em;
    border: none;
    background-color: transparent;

    &:focus-visible {
      outline-color: black;
      outline-offset: $hamburger-bar-position + 4px;
    }

    &--closed {
      transition-property: opacity;
    }

    &--open {
      opacity: 0;
      visibility: hidden;
      transition-property: opacity, visibility;
    }
  }

  &__hamburger {
    position: relative;
    top: -$hamburger-bar-position;
    transition-property: transform;

    &,
    &::before,
    &::after {
      background-color: black;
      width: 28px;
      height: $hamburger-bar-width;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      top: $hamburger-bar-position;
    }

    &::after {
      top: $hamburger-bar-position * 2;
    }

    &--open {
      transform: translateX(-10px);

      &::before {
        transform: translateX(-20px);
        transition-delay: 0.1s;
      }

      &::after {
        transform: translateX(-40px);
        transition-delay: 0.15s;
      }
    }
  }
}
