.skip-link {
  position: fixed;
  top: 0;
  left: 50%;
  transition: transform 0.15s ease-out;

  &:not(:focus) {
    transform: translate(-50%, -100%); // hidden
  }

  &:focus {
    transform: translate(-50%, 0); // visible
  }
}
