.skip-link {
  position: fixed;
  top: 0;
  left: 50%;
  transition: transform 0.15s ease-out;

  // when not focused, the link is hidden:
  &:not(:focus) {
    transform: translate(-50%, -100%);
  }

  // when focused, the link becomes visible:
  &:focus {
    transform: translate(-50%, 0);
  }
}
