$sidebar-transition: 0.5s ease-out;
$sidebar-width: 300px;

.app {
  &__main {
    min-height: 100%;
    position: relative;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    transition: width $sidebar-transition;

    &--sidebar-closed {
      width: 100vw;
    }

    &--sidebar-open {
      width: calc(100vw - #{$sidebar-width});
    }
  }

  &__section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__fake-link {
    margin-top: 1.4em;
  }

  &__lorem {
    font-size: 36px;
    padding: 3rem 2rem;
  }
}
