.app {
  &__main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.modal {
  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
