$sidebar-transition: 0.5s ease-out;
$sidebar-width: 300px;

.app {
  &__main {
    min-height: 100%;
    position: relative;
    padding: 3rem;
    transition: width $sidebar-transition;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &--sidebar-closed {
      width: 100vw;
    }

    &--sidebar-open {
      width: calc(100vw - #{$sidebar-width});
    }
  }

  &__components {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
  }

  &__section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__fake-link {
    margin-top: 1.4em;
  }

  &__lorem {
    font-size: 28px;
    padding: 3rem 2rem;
  }
}
