$att-blue: #0057b8;
$font-regular: font-regular, sans-serif;
$font-medium: font-medium, sans-serif;

/* Basic styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: $font-regular;
  color: $att-blue;
}

a,
label,
select,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='radio'],
input[type='checkbox'],
[role='button'],
[role='checkbox'],
[role='radio'] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

i {
  font-size: 1.2em;
}

/* Typography */

@font-face {
  font-family: 'font-regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/ATTAleckSans_W_Rg.woff2') format('woff2'),
    url('./assets/fonts/ATTAleckSans_W_Rg.woff') format('woff');
}

@font-face {
  font-family: 'font-medium';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/ATTAleckSans_W_Md.woff2') format('woff2'),
    url('./assets/fonts/ATTAleckSans_W_Md.woff') format('woff');
}

/* Button styles */

.att-button {
  background-color: $att-blue;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 14px 18px;
  font-size: 16px;
  font-family: $font-medium;

  &:focus-visible {
    outline-offset: -8px;
  }
}

.x-button {
  background-color: transparent;
  color: $att-blue;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: $font-medium;
}

/* Focus styles */

*:focus:not(:focus-visible) {
  outline-color: transparent;
}

*:focus-visible {
  outline: clamp(2px, 0.2em, 6px) solid currentColor;
  outline-offset: 0.4em;
}
