/* Basic styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a,
label,
select,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='radio'],
input[type='checkbox'],
[role='button'],
[role='checkbox'],
[role='radio'] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Focus styles */

*:focus:not(:focus-visible) {
  outline-color: transparent;
}

*:focus-visible {
  outline: 2px solid;
  outline-offset: 0.4em;
}
